**.d
**.o
raytracer
raytracer_debug
*data
*data.old
gmon.out
.tests/benchmark
.tests/bounds_test.c
mini-rt_debug
mini-rt
bench_minirt
miniRT
miniRT_debug
Maps/NikonBag/nikon_bag.rt
Maps/NikonBag/bag.obj
Maps/NikonBag/bag_tex.xpm
Maps/NikonBag/bag_normal.xpm
